* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: rgb(253, 234, 210);
    
}
#logo{
   width: 100px;
   height: auto;
   border-radius: 30px; 
   margin-left:2vw;
   margin-top: 2vh;
   margin-right:0px;
   
}

#app_name{
    padding-top: 80px;
    padding-left:5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

span{
    color:orange;
}
.navbar{
    position:fixed;
    width:100%;
    display:inline-flex;
    background-color: white;
    padding: 10px;   
}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navbar{
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar li{
    display: flex;
    margin: 15px;
    padding:15px;
    border:15px;
}

.nav-list a{
    display: flex;
    color: rgb(36, 36, 35);
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px 10px 10px;
    margin-right:10px;
   
}
#start-free{                                           /*button*/
    background-color:orange ;
    height: 50px;
    width:200px;
    border-radius:30px;
    text-decoration: none;
    color:white;
    font-size:20px;
}
.nav-list > a:hover{
    color: white;
    background-color:orange;
    border-radius: 20px;
}

.vertical-line {
    border-left: 2px solid rgb(10, 9, 9);
    height: 40px;  
}

p{
    border: 20px;
    margin: 20px;
    margin-left: 7vw;
    font-size:20px;
    color:rgb(40, 39, 39);
}

#reviews p{
    border: 20px;
    margin: 20px;
    margin-left: 7vw;
    font-size:20px;
    color:rgb(40, 39, 39);

}

#start{       
    margin-top:25px;                                      /*button*/
    background-color:orange ;
    margin-left:10vw;
    height: 50px;
    width:200px;
    padding: 8px;
    border-radius:30px;
    text-decoration: none;
    color:white;
    font-size:20px;
}

#start:hover,#start-free:hover{
    box-shadow: 0 0 15px gray;
    transition: 0.09s ease-in-out;
    transform: scale(1.05);
}

h1,h2,h3,h4,h5,h6{
    display: block;
    margin-left: 7vw;
    color: rgb(22, 21, 21);
 
} 
h3{
    color:rgb(241, 152, 9);
    font-size:24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    padding-top: 180px;
    font-size: 70px;
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    min-height: 50vh;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(244, 242, 238);
    padding: 15px;
    margin: 3px;
    border-radius: 20px;
    border: 3px solid rgb(255, 172, 19);
    width: 300px;
    min-height: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.review {
    margin: 0;
    font-size: 20px;
    color: rgb(255, 172, 19);
    font-family: sans-serif;
}

#dropdownmenu {
    display: none; 
    position: absolute; 
    left: 0;
    top:80%;
    list-style: none;
    border:1px solid rgb(241, 143, 38);
    border-radius: 10px;
    background-color: white;
  
}
#dropdownmenu li {
    padding: 5px;  
}
#dropdownmenu a{
    margin-top:3px;
    padding:2px;
    font-size: 15px;
    text-align: center;
}
#dropdownmenu a:hover {
    color:orange;

}
#resources {
    position: relative;
}
.highlight{
    font-size:40px;
    color: rgb(20, 18, 18);
}
.points{
    margin-top: 100px;
    margin-bottom:100px;
    padding-bottom: 50px;
}
hr{
    margin:20px;
    display:block;
    border:1px solid rgb(138, 134, 134);
    z-index: 1;
}

footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(39, 34, 34);
    margin:70px;
    display:flex;
    justify-content: flex-end;
}

footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(73, 70, 70);
    margin-left: 10px;
}

.foot{
    padding: 10px;
    background-color:rgb(252, 248, 242);
    margin:20px;
    display:flex;
}
.foot li{
    padding:10px;
    display:flex;
    list-style: none;
}

footer a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gray;
    text-decoration: none;
}


.follow h3{
    margin-left:18px;
}
.follow ul{
    padding:10px;
    margin:10px;
    background-color:rgb(252, 248, 242);
    
}
.follow li {
    list-style: none;
    margin:20px;
    display:flex;
    justify-content: flex-end;
}

.foot a:hover{
    color:rgb(43, 41, 41);    
}

.follow a:hover{
    color:rgb(43, 41, 41);    
}

#show1{
    position:absolute;
    height:46%;
    width: 43%;
    margin-left: 43.5vw;
    margin-bottom: 95vh;
    z-index: -1;
}
#show2{
    position:absolute;
    height:48%;
    width: 47%;
    margin-left: 45vw;
    margin-bottom: 90vh;
    z-index: -1;
}
#show3{
    position:absolute;
    height:48%;
    width: 42%;
    margin-top: 3%;
    margin-left: 47vw;
    margin-bottom: 80vh;
    z-index: -1;
}
#show4{
    position:absolute;
    height:34%;
    width: 27%;
    margin-top: 7%;
    margin-left: 47vw;
    margin-bottom: 80vh;
    z-index: -1;
}
